//PAGE START | TYPOGRAPHY
/*|- TYPOGRAPHY PAGE START -|*/

//TYPERFACES
/*|- TYPERFACES -|*/
$ubuntu: "Ubuntu", sans-serif;
$poppins: "Poppins", sans-serif;
//FONTS WEIGHT
/*|- FONT WEIGHT -|*/
$regular: 400;
$bold: 700;
//FONT SIZES
/*|- FONT SIZES -|*/
$xxxxx-large: 3.125rem;
$xxxx-large: 2.8125rem;
$xxx-large: 2.5rem;
$xx-large: 2.1875rem;
$x-large: 1.875rem;
$large: 1.25rem;
$medium: 1rem;
$small: 0.875rem;
$x-samll: 0.75rem;
