// PAGE START | VARIABLE PAGE -|
/*|- VARIABLE PAGE START -|*/

//COLOR SCHEME
/*|- COLOR SCHEMES -|*/

//PRIMARY COLOR SCHEME
/*|- PRIMARY COLOR SCHEME -|*/
$white: #fff;
//SECONDARY COLOR SCHEME
/*|- SECONDARY COLOR SCHEME -|*/
$black: #000;
$sable: #060606;
$charcoal: #2e1503;
//TERTIARY COLOR SCHEME
/*|- TERTIARY COLOR SCHEME -|*/
$tangerine: #ffaf6d;
$orange: #ffa600;
