/*|- VARIABLE PAGE START -|*/
/*|- COLOR SCHEMES -|*/
/*|- PRIMARY COLOR SCHEME -|*/
/*|- SECONDARY COLOR SCHEME -|*/
/*|- TERTIARY COLOR SCHEME -|*/
/*|- KEYFRAMES PAGE -|*/
/*|- VECTOS -|*/
#code {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  animation: moveCode 3s infinite both;
  -webkit-animation: moveCode 3s infinite both;
}

#engine {
  animation: moveEngine 5s infinite linear;
  -webkit-animation: moveEngine 5s infinite linear;
  transform-origin: 50% 50%;
  transform-box: fill-box;
}

/*|- KEYFRAMES -|*/
@keyframes moveCode {
  50% {
    transform: translate(30%, 0);
    -webkit-transform: translate(30%, 0);
    -moz-transform: translate(30%, 0);
    -ms-transform: translate(30%, 0);
    -o-transform: translate(30%, 0);
  }
}
@keyframes moveEngine {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*|- TYPOGRAPHY PAGE START -|*/
/*|- TYPERFACES -|*/
/*|- FONT WEIGHT -|*/
/*|- FONT SIZES -|*/
/*|- NAVBAR STYLE START -|*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: #000;
  color: #fff;
  z-index: 5;
  padding: 1rem;
}

.logo__svg {
  width: 2.5rem;
}

.nav__logo {
  text-decoration: none;
}

.nav__menucontainer {
  position: relative;
}

.nav__hamburger {
  color: inherit;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 80ms linear;
  display: none;
  opacity: 0;
  text-decoration: none;
}

.nav__hamburgerclose {
  color: inherit;
  position: absolute;
  top: 0;
  min-width: 32px;
  min-height: 32px;
  transition: opacity 150ms linear;
  display: none;
  opacity: 0;
  z-index: -1;
  text-decoration: none;
}

.nav__menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 0.95rem;
  font-weight: 500;
}

.nav__item {
  margin-right: 1rem;
}

.nav__link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.nav__link:hover,
.nav__link:focus-visible {
  color: #ffa600;
}

@media (max-width: 520px) {
  .nav__hamburger {
    display: flex;
    opacity: 1;
  }
  .nav__hamburger:hover {
    color: #ffa600;
  }

  .nav__menu {
    opacity: 0;
    position: fixed;
    visibility: none;
    top: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    color: #25310c;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem 0 2rem 2rem;
    background: #fff;
  }

  .nav__listcontainer:focus .nav__menu,
.nav__listcontainer:focus-within .nav__menu {
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 2rem;
    right: 1.5rem;
  }

  @supports (backdrop-filter: blur(10px)) {
    .nav__listcontainer:focus .nav__menu,
.nav__listcontainer:focus-within .nav__menu {
      background: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
    }
  }
  .nav__item {
    margin-right: 0;
    padding: 0.5rem 3rem;
  }

  .nav__link:hover,
.nav__link:focus {
    opacity: 0.8;
    color: #ffa600;
  }

  .nav__listcontainer:focus .nav__hamburger,
.nav__listcontainer:focus-within .nav__hamburger {
    opacity: 0;
    z-index: -1;
  }

  .nav__listcontainer:focus + .nav__hamburgerclose,
.nav__listcontainer:focus-within + .nav__hamburgerclose {
    display: flex;
    opacity: 1;
    z-index: 1;
  }
}
/*|- HEADER PAGE START -|*/
.header {
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
}
.header__img {
  height: auto;
  width: 100%;
}

/*|- ASIDE CONTENT STYLE -|*/
.faq {
  font-family: "Poppins", sans-serif;
  margin: 0 1rem;
  border: 1px solid #000;
}
.faq__title {
  text-transform: uppercase;
  font-size: xx-large;
  font-family: "Ubuntu", sans-serif;
}

.img__profile {
  width: 10rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  border: 2px solid #000;
}

.rrss__icon {
  font-size: 2.1875rem;
  margin: 0 1rem;
  color: #000;
}

.about {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__img {
  width: 100%;
  text-align: center;
}
.about__text {
  padding: 0 2rem;
  text-align: justify;
  font-family: "Ubuntu", sans-serif;
}

.courses {
  font-family: "Ubuntu", sans-serif;
}
.courses__link {
  text-decoration: none;
}
.courses__list {
  list-style: circle;
}

.other {
  padding: 0 3rem;
}
.other__courses {
  padding: 1rem;
}
.other__title {
  text-align: center;
  background-color: #060606;
  color: #fff;
}

.animation {
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.animation .svg__img {
  max-width: 80%;
}

/*|- FOOTER SECTION -|*/
.footer {
  width: 100%;
  color: #fff;
  background-color: #000;
  font-family: "Poppins", sans-serif;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}
.end {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.end__li {
  list-style: none;
}
.end__link {
  color: #fff;
  text-decoration: none;
  padding: 0 1rem;
  transition: all 300ms ease-in;
  -webkit-transition: 200ms ease-out;
  -moz-transition: all 300ms ease-in;
  -ms-transition: all 300ms ease-in;
  -o-transition: all 300ms ease-in;
}
.end__link:hover {
  color: #ffa600;
}
.end__ul {
  display: flex;
  align-items: center;
}

.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 1rem 0;
}
.input__email {
  color: #000;
  padding: 0 0.5rem;
  width: 50%;
  border: none;
}
.input__email:focus {
  background: #ffaf6d;
  outline: none;
}
.input__button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: small;
  padding: 0 0.5rem;
  background: #ffaf6d;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  transition: 200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -ms-transition: 200ms;
  -o-transition: 200ms;
}
.input__button:hover {
  background: #fff;
}

.courses {
  margin: 0 1rem;
  border: 1px solid #000;
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
}

.col-12 {
  grid-column: span 12;
}

.col-11 {
  grid-column: span 11;
}

.col-10 {
  grid-column: span 10;
}

.col-9 {
  grid-column: span 9;
}

.col-8 {
  grid-column: span 8;
}

.col-7 {
  grid-column: span 7;
}

.col-6 {
  grid-column: span 6;
}

.col-5 {
  grid-column: span 5;
}

.col-4 {
  grid-column: span 4;
}

.col-3 {
  grid-column: span 3;
}

.col-2 {
  grid-column: span 2;
}

.col-1 {
  grid-column: span 1;
}

@media (min-width: 748px) {
  .col-sm-12 {
    grid-column: span 12;
  }

  .col-sm-11 {
    grid-column: span 11;
  }

  .col-sm-10 {
    grid-column: span 10;
  }

  .col-sm-9 {
    grid-column: span 9;
  }

  .col-sm-8 {
    grid-column: span 8;
  }

  .col-sm-7 {
    grid-column: span 7;
  }

  .col-sm-6 {
    grid-column: span 6;
  }

  .col-sm-5 {
    grid-column: span 5;
  }

  .col-sm-4 {
    grid-column: span 4;
  }

  .col-sm-3 {
    grid-column: span 3;
  }

  .col-sm-2 {
    grid-column: span 2;
  }

  .col-sm-1 {
    grid-column: span 1;
  }
}
@media (min-width: 992px) {
  .col-md-12 {
    grid-column: span 12;
  }

  .col-md-11 {
    grid-column: span 11;
  }

  .col-md-10 {
    grid-column: span 10;
  }

  .col-md-9 {
    grid-column: span 9;
  }

  .col-md-8 {
    grid-column: span 8;
  }

  .col-md-7 {
    grid-column: span 7;
  }

  .col-md-6 {
    grid-column: span 6;
  }

  .col-md-5 {
    grid-column: span 5;
  }

  .col-md-4 {
    grid-column: span 4;
  }

  .col-md-3 {
    grid-column: span 3;
  }

  .col-md-2 {
    grid-column: span 2;
  }

  .col-md-1 {
    grid-column: span 1;
  }
}
@media (min-width: 1200px) {
  .col-lg-12 {
    grid-column: span 12;
  }

  .col-lg-11 {
    grid-column: span 11;
  }

  .col-lg-10 {
    grid-column: span 10;
  }

  .col-lg-9 {
    grid-column: span 9;
  }

  .col-lg-8 {
    grid-column: span 8;
  }

  .col-lg-7 {
    grid-column: span 7;
  }

  .col-lg-6 {
    grid-column: span 6;
  }

  .col-lg-5 {
    grid-column: span 5;
  }

  .col-lg-4 {
    grid-column: span 4;
  }

  .col-lg-3 {
    grid-column: span 3;
  }

  .col-lg-2 {
    grid-column: span 2;
  }

  .col-lg-1 {
    grid-column: span 1;
  }
}
/*|- COMPONENTS CARD START PAGE STYLE |-*/
.card {
  width: 100%;
  padding: 1rem;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid #000;
  margin: 1rem;
}
.card__body {
  padding: 1rem;
}
.card__title {
  font-size: 1.25rem;
  margin: 0;
}
.card__description {
  font-size: 0.875rem;
}
.card__author {
  font-weight: 700;
}

.img__top {
  width: 100%;
  object-fit: fill;
}

.icon__text {
  margin-right: 1rem;
}

/*|- GRID LAYOUT COMPONENTS -|*/
.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}

/*# sourceMappingURL=main.css.map */
